body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f0f0f0;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 2em;
  color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

#controls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#left {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  padding: 20px;
  background-color: #1e1e1e;
  overflow-y: auto;
}

#right {
  flex: 1;
  display: flex;
  flex-direction: column; /* Zajištění sloupcového směru */
  align-items: center; /* Zarovnání nuly na střed */
  padding: 20px;
  background-color: #222;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#left .bet {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #444;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.btn a {
  display: block;
  padding: 10px;
  font-size: 16px;
  background-color: #FF4500;
  color: black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.btn a:hover {
  background-color: #FF6347;
}

#zero {
  width: 60px;
  height: 60px;
  margin-bottom: 10px; /* Přidána mezera pod nulou */
  background-color: green;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#numbers-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center; /* Zarovnání čísel pod nulou */
  gap: 30px;
  width: auto;
  max-height: 75vh;
  overflow-y: auto;
}

#numbers-grid button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #333;
  border: none;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
  color: white;
}

#maintenance {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#reset, #spin {
  width: 48%;
}

#points {
  text-align: center;
}

#home {
  background-color: #1e1e1e;
}
